#year{
    font-size: 30px;
}

#date{
    font-size: 20px;
    text-decoration: underline;
}

#timeline{
    margin-top: 25px;
    margin-left: 10px;
}

hr{
    background-color: #808080; 
    height: 1px; 
    border: 0;
}

.ant-card{
    overflow: auto;
}

.GoalProgress{
    margin-top: 40px;
    margin-left: 100px;
}

.GoalProgress .ant-card-bordered{
    border: 0px;
}